.section {
  padding-top: 94px;
}
.section-title {
  display: block;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-list__block {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.advantages-list {
  display: flex;
}

.advantages-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
