.section {
  // padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.section-title {
  padding-bottom: 30px;
  display: block;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.advantages-container {
  margin: 0;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.advantages-list__block {
  display: flex;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantages-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    // margin-right: 30px;

    // flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}

.advantages-list__item {
  display: block;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.advantages-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
