.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: var(--secondary-background-color);
  color: var(--accent-second-color);
}

.footer-general-container {
  display: flex;
  align-items: baseline;
}
.address-info {
  padding-top: 20px;
}
.studio {
  color: var(--accent-second-color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-second-color);
}

.footer-connection a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connection-item {
  margin-top: 9px;
}

.footer-connect {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-second-color);
}

.footer-container {
  padding-right: 70px;
}

.footer-social-links {
  display: flex;
  align-items: center;
  padding-left: auto;
  justify-content: center;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social-links__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.footer-social-links__link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    fill: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
  }
}
.footer-social-icon {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
