.service-section {
  padding-bottom: 94px;
}
.service-title {
  text-align: center;
}
.services-container {
  align-items: center;
}
.service-title {
  display: block;
  margin-bottom: 50px;
}
.services-photo {
  display: flex;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.service-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.service-card-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.services-text {
  display: block;
  position: absolute;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
