.stuff-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.stuff-list {
  display: flex;
  margin-top: 50px;
}

.stuff-list__item {
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.stuff-card-desctiption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.stuff-text {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.stuff-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.social-links {
  display: flex;
  align-items: center;
  padding-left: auto;
  justify-content: center;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  fill: #afb1b8;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.social-link {
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    fill: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
  }
}
.social-icon {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
